### EquityHedging ###
###Ignore###
EquityHedging/reports/*.xlsx
#EquityHedging/scripts/add_data_temp.py
EquityHedging/data/new_strats/*.xlsx
EquityHedging/data/liq_alts/*.xlsx
EquityHedging/data/liq_alts/*.xls


.idea/*
#EquityHedging/data/update_strats/*.xlsx
desktop.ini

# DO-NOT ignore specific files
EquityHedging/data/new_strats/vrr_data.xlsx

### JupyterNotebooks ###
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

### Python ###
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
pytestdebug.log

# PyBuilder
target/

# pyenv
.python-version

# Environments
# .env
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
pythonenv*

# Spyder project settings
.spyderproject
.spyproject

# operating system-related files
# file properties cache/storage on macOS
*.DS_Store
# thumbnail cache on Windows
Thumbs.db

# profiling data
.prof
GPUCache/data_0
GPUCache/data_3
GPUCache/index
GPUCache/data_2
GPUCache/data_1
